trunk/Source Code/COMS/Prototype/WebService/TestGUI/Service References/WorkflowServiceRef/Workflow.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Workflow" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1153/Workflow.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1153/Workflow.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1153/Workflow.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWorkflow_addStep_InputMessage">
    <wsdl:part name="parameters" element="tns:addStep" />
  </wsdl:message>
  <wsdl:message name="IWorkflow_addStep_OutputMessage">
    <wsdl:part name="parameters" element="tns:addStepResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkflow_saveWorkflow_InputMessage">
    <wsdl:part name="parameters" element="tns:saveWorkflow" />
  </wsdl:message>
  <wsdl:message name="IWorkflow_saveWorkflow_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveWorkflowResponse" />
  </wsdl:message>
  <wsdl:portType name="IWorkflow">
    <wsdl:operation name="addStep">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflow/addStep" message="tns:IWorkflow_addStep_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflow/addStepResponse" message="tns:IWorkflow_addStep_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveWorkflow">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkflow/saveWorkflow" message="tns:IWorkflow_saveWorkflow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkflow/saveWorkflowResponse" message="tns:IWorkflow_saveWorkflow_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Workflow" type="tns:IWorkflow">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addStep">
      <soap:operation soapAction="http://tempuri.org/IWorkflow/addStep" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveWorkflow">
      <soap:operation soapAction="http://tempuri.org/IWorkflow/saveWorkflow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Workflow">
    <wsdl:port name="Workflow" binding="tns:Workflow">
      <soap:address location="http://localhost:1153/Workflow.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>